.gallery .control-button {
  color: #ccc;
  color: rgba(0, 0, 0, 0.4);
  text-decoration:none;
  border:none;
}

.gallery .control-button:hover {
  color: #ccc;
  color: rgba(0, 0, 0, 0.8);
  text-decoration:none;
  border:none;
}

.gallery a a:hover a:focus a:active{
  text-decoration: none;
  border:none;
}

.controls a a:hover a:active{
  text-decoration:none;
  border:none;
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
  background-color: transparent;
}
.gallery .item {
  height: 200px;
  overflow: hidden;
  text-align: center;
  background: transparent;
  padding: 0px;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: -50px .01em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

.gallery p{
  padding-top:20px;
  padding-bottom:40px;
  color: #2f2f2f;
  width:100%;
  max-width:700px;
  margin: 0 auto;
}

#service-slider {
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 1%;
	padding-top: -20px;;
	background-color: #fff;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	}
#service-header {
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 1%;
	padding-top: 5%;
	background-color: #fff;
	font-family:'Open Sans',sans-serif;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	}

#logo-header {
	padding-left: 30%;
	padding-right: 30%;
	padding-bottom: 2%;
	padding-top: 0%;
	background-color: #fff;
	font-family:'Open Sans',sans-serif;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	}

#service-header h3{
	font-family:'Open Sans',sans-serif;
	font-weight: 400;
}
